body{
  background-color: #F5F5F5;
  margin: 0;
  height: 100%;
  
}

/* Хедер */

header{
  background: #FDFEFE;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

img.Logo{
    width: 167px;
    height: 43px;
    margin-left: 50px;
    
}

.notification{
  padding-right: 16px;
}

img.profile{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  
}

menu{
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

/* Основная часть */

main{
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
}

nav{
  display: flex;
  margin-top: 20px;
}

button.btnDownload{
  width: 100%;
  height: 84px;
  color: #FDFEFE;
  background-color: #4f694b;
  border-radius: 18px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center; 
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  
}

.btnDownload:hover {
  background-color: #5a6e57;
}

img.imgStelaz{
  width: 33px;
  height: 33px;
}

button.linkStelaz{
  width: 100%;
  height: 84px;
  color: #FDFEFE;
  background-color: #4f694b;
  border-radius: 18px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  margin-right: 18px;
  margin-left: 18px;
}

.linkStelaz:hover {
  background-color: #5a6e57;
}

a{
  color: #FDFEFE;
}

img.imgModel{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 13px;
  padding-bottom: 14px;
  background-color: #4f694b;
  border-radius: 18px;
}

button.model{
  border: none;
  padding: 0px;
  margin: 0px;
}

img.imgDown{
  height: 33px;
  width: 33px;
}

img.imgModel:hover {
  background-color: #5a6e57;
}



/* Экран загрузки */
.LoadingScreen {
  position: fixed;
  background-color: #FDFEFE;
  border: none;
  display: none;
  width: 781px;
  /* height: 433px; */
            

  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9999;
  
  
  padding: 40px;
  border-radius: 18px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); */
  


    
    /* width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px; */
    
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнение с прозрачностью 70% */
  display: none; /* Скрываем по умолчанию */
  z-index: 999; /* Устанавливаем на передний план */
}

.show {
  display: block; /* Показываем попап и затемнение */
}


.VerhLoadingScreen{
  display: flex;
  justify-content: space-between;
 
}

h3{
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.close-x{
  border: none;
  text-decoration: none;
  background-color: #FDFEFE;
  cursor: pointer;
}


.file{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

#uploadForm{
  display: flex;
  justify-content: center;
}

.listFiles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 781px;
  min-height: 108px;
  margin-top: 24px;
  margin-bottom: 24px;
  overflow-y: auto;
  max-height: 500px; 
}




/* Делаем наше поле ввода файла невидимым */
.custom-file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    z-index: -1; /* "Скрываем" поле ввода */
}

/* Создаем "подмену" кнопки */
.file-btn {
  background-color: #b4b7c5;
  color: #FDFEFE;
    
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;

  width: 230px;
  height: 56px;
  
  border: none;
  text-decoration: none;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;  

}

.file-btn:hover{
  background-color: #5a6e57;
}


button.downloadBtn2{
  background-color: #4f694b;
  color: #FDFEFE;
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;

  width: 230px;
  height: 56px;
  
  border: none;
  text-decoration: none;
  font-size: 23px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
 
}

.downloadBtn2:hover{
  background-color: #5a6e57;
}

/* Галерея */

.container_gallery{
  width: 100%;
  display: block;
  margin-top: 24px;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.gallery div {
  background: white;
  border-radius: 18px;
  width: 232px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.gallery img {
  display: block;
  width: 100%;
  height: 300px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

h3.name{
  padding: 30px;
  font-size: 20px;
}

/* Увеличенное фото */

.zoomed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zoomed img {
  max-width: 90%;
  max-height: 90%;
}
 
#shelfInfo {
  color: white;
  margin: 10px 0;
}
  
#deleteButton {
  padding: 10px 20px; 
  background-color: red; 
  color: white; 
  border: none;
  cursor: pointer;
}








/* Футер */

footer{
    background: #FDFEFE;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80;
}
