body{
  background-color: #F5F5F5;
  margin: 0;
  height: 100%;
  
}

header {
  background: #FDFEFE;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

img.logo {
    width: 167px;
    height: 43px;
    margin-left: 50px;
}

.notification {
  padding-right: 16px;
}

img.profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

menu {
  float: right;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px 0 0;
}

main {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  margin-top: 20px;
}

button.download-button {
  width: 100%;
  height: 84px;
  color: #FDFEFE;
  background-color: #4f694b;
  border-radius: 18px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center; 
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  
}

.download-button:hover {
  background-color: #5a6e57;
}

img.shelves-img {
  width: 33px;
  height: 33px;
}

button.navigate-shelves {
  width: 100%;
  height: 84px;
  color: #FDFEFE;
  background-color: #4f694b;
  border-radius: 18px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  margin-right: 18px;
  margin-left: 18px;
}

.navigate-shelves:hover {
  background-color: #5a6e57;
}

a {
  color: #FDFEFE;
}

img.model-img {
  padding: 13px 40px 14px;
  background-color: #4f694b;
  border-radius: 18px;
}

button.model {
  border: none;
  padding: 0;
  margin: 0;
}

img.download-img {
  height: 33px;
  width: 33px;
}

img.model-img:hover {
  background-color: #5a6e57;
}

.loading-screen {
  position: fixed;
  background-color: #FDFEFE;
  border: none;
  display: none;
  width: 781px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9999;
  padding: 40px;
  border-radius: 18px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: none; 
  z-index: 999; 
}

.show {
  display: block; 
}

.loading-screen-header {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.loading-screen-close-button {
  border: none;
  text-decoration: none;
  background-color: #FDFEFE;
  cursor: pointer;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

#upload-form {
  display: flex;
  justify-content: center;
}

.file-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 781px;
  min-height: 108px;
  margin-top: 24px;
  margin-bottom: 24px;
  overflow-y: auto;
  max-height: 500px; 
}

/* Делаем наше поле ввода файла невидимым */
.custom-file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    z-index: -1; /* "Скрываем" поле ввода */
}

/* Создаем "подмену" кнопки */
.file-btn {
  background-color: #b4b7c5;
  color: #FDFEFE;
    
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;

  width: 230px;
  height: 56px;
  
  border: none;
  text-decoration: none;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.file-btn:hover {
  background-color: #5a6e57;
}

button.load-files-button {
  background-color: #4f694b;
  color: #FDFEFE;
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;
  width: 230px;
  height: 56px;
  border: none;
  text-decoration: none;
  font-size: 23px;
  align-items: center;
  justify-content: center;
}

.load-files-button:hover {
  background-color: #5a6e57;
}

.photo-gallery {
  width: 100%;
  display: block;
  margin-top: 24px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery div {
  background: white;
  border-radius: 18px;
  width: 232px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.gallery img {
  display: block;
  width: 100%;
  height: 300px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

h3.name{
  padding: 30px;
  font-size: 20px;
}

.zoom-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zoom-image img {
  max-width: 90%;
  max-height: 90%;
}
 
#shelf-info {
  color: white;
  margin: 10px 0;
}
  
#delete-button {
  padding: 10px 20px; 
  background-color: red; 
  color: white; 
  border: none;
  cursor: pointer;
}

footer{
    background: #FDFEFE;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
}
