<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Питомник</title>
</head>
<body>
    <header>
            <img class="Logo" src="img/Logo.svg" alt="">
        <menu>
                <img class="notification" src="img/notification.svg" alt="">
                <img class="profile" src="img/person men.png" alt="">
           
        </menu>
    </header>

    <main>
        <button onclick="openLoadingScreen()" class="btnDownload"> <img src="img/скачать.svg" alt=""> Загрузить</button>

        <!-- Экран загрузки файла -->
        <div class="LoadingScreen">
            <button onclick="closeLoadingScreen()"> <img src="img/close-x.svg" alt=""></button>
            
            <!-- <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <label class="file-btn" for="showUploadForm" >Выбрать файл</label>
                <input id="showUploadForm" name="files[]" multiple class="custom-file-input" type="file" onchange="document.getElementById('file-label').textContent = this.files[0].name" > 
                <span id="file-label"></span>
                <button type="submit">Загрузить</button>
            </form> -->


            
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="files[]" multiple>
                <button type="submit">Загрузить</button>
            </form>
        </div>
       


        <div class="container_gallery">

            <div class="gallery">
                {% for tree in trees %}
                    <div>
                        <h3>{{ tree.state }}</h3>
                        <h4>Processed Image:</h4>
                        {% if tree.processed_photo %}
                            <img src="data:image/jpeg;base64,{{ tree.processed_photo | b64encode }}" alt="Processed Tree Image">
                        {% else %}
                            <p>No processed image available.</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>


        </div>

    </main>

    <!-- <footer>
        
        <img class="Logo" src="img/Logo.svg" alt="">

        <p>@ 2024 Кемеровский Питомник</p>

        <div class="contacts">
            Контакты
            г. Кемерово, Тухачевского ул., 40
            info@svoy-pitomnik.ru
        </div>

    </footer> -->
</body>
</html>